:root {
  --branding-color: rgb(0, 0, 204);
  --branding-font: "Montserrat", sans-serif;
}

body {
  background: rgb(230, 223, 223);
}

.logo {
  display: flex;
  margin: 0 auto;
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

nav li {
  display: inline;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 20px 10px;
}

nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav a:hover {
  color: var(--branding-color);
  transition: all ease-in-out 0.5s;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 0;
}

.intro-img {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  width: 800px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.container-img {
  display: flex;
  justify-content: center;
}

.container img {
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  margin: 40px;
  margin-bottom: 0;
}

.container-img-text {
  display: flex;
  justify-content: center;
}

.di-lorenzo-m {
  padding-right: 10px;
  margin-right: 70px;
}

.di-castro-p {
  padding-left: 10px;
  margin-left: 30px;
}

iframe {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 70px;
}

p {
  font-size: 15px;
  font-family: var(--branding-font);
  text-align: center;
  padding: 5px;
  margin: 10px;
}

footer {
  background: rgb(0, 0, 204, 0.7);
}

footer li {
  list-style: none;
  font-size: smaller;
  font-family: var(--branding-color);
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
}

footer i {
  color: white;
}

.social {
  font-size: 30px;
  text-align: center;
}

.social a {
  color: var(--branding-color);
}
