:root {
  --branding-color: rgb(0, 0, 204);
  --branding-font: "Montserrat", sans-serif;
}

.background {
  background-image: url(/src/img/Coro-Ha-Kol_2018.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
  padding: 5px;
}

.logo {
  width: 140px;
  display: block;
  margin: 0 auto;
  padding-top: 1.7em;
}

.logo-navbar {
  width: 100px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.index-text {
  text-align: start;
  margin: 30px 20px 50px 20px;
}

.contact {
  text-align: start;
  margin-top: 6em;
}

.contact img {
  display: flex;
  margin: 0 auto;
  width: 120px;
}

.background-intro {
  background-image: url(/src/img/ose_shalom.jpeg);
  background-size: cover;
  height: 50vh;
}

.about-us-intro h1 {
  text-align: center;
  padding: 5px;
  margin-bottom: 2em;
  margin-top: 1em;
  font-weight: 320;
  font-family: "Montserrat", sans-serif;
}

.about-us-intro h2 {
  text-align: center;
  padding: 5px;
  margin-bottom: 1em;
  margin-top: 3em;
  font-weight: 320;
}

.img-intro {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
  box-shadow: 0.5em 3px 0.4em rgba(0, 0, 0, 0.3);
  margin-top: 2em;
}

.img-intro-ric {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
  box-shadow: 0.5em 3px 0.4em rgba(0, 0, 0, 0.3);
  margin-top: 5.5em;
}

iframe {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 70px;
}

p {
  font-size: 15px;
  font-family: var(--branding-font);
  text-align: center;
  padding: 5px;
  margin: 10px;
}

footer {
  background: rgb(0, 0, 204, 0.7);
}

footer li {
  list-style: none;
  font-size: smaller;
  font-family: var(--branding-color);
}

footer a {
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
}

footer i {
  color: white;
}

.social {
  font-size: 30px;
  text-align: center;
}

.social a {
  color: var(--branding-color);
}
